# Feature Engineering

In [379]:
# Load all packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import Image
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline

### Load the data

In [380]:
hotel = pd.read_csv('D:\Jupyter_Notebook\Hotel_Demand\data\hotel_cleaned.csv')

In [381]:
hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,reservation_status_date_datetime,arrival_date_month_number,arrival_datetime
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01,7,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,2015-07-01,2015-07-01,7,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-02,7,2015-07-01
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Transient,75.0,0,0,Check-Out,2015-07-02,2015-07-02,7,2015-07-01
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,Transient,98.0,0,1,Check-Out,2015-07-03,2015-07-03,7,2015-07-01

Our goal is to predict if a customer would cancel an order. is_canceled is our target variable

In [382]:
hotel.shape

(119208, 35)

In [383]:
hotel.dtypes

hotel                                object
is_canceled                           int64
lead_time                             int64
arrival_date_year                     int64
arrival_date_month                   object
arrival_date_week_number              int64
arrival_date_day_of_month             int64
stays_in_weekend_nights               int64
stays_in_week_nights                  int64
adults                                int64
children                              int64
babies                                int64
meal                                 object
country                              object
market_segment                       object
distribution_channel                 object
is_repeated_guest                     int64
previous_cancellations                int64
previous_bookings_not_canceled        int64
reserved_room_type                   object
assigned_room_type                   object
booking_changes                       int64
deposit_type                         object
agent                                object
company                              object
days_in_waiting_list                  int64
customer_type                        object
adr                                 float64
required_car_parking_spaces           int64
total_of_special_requests             int64
reservation_status                   object
reservation_status_date              object
reservation_status_date_datetime     object
arrival_date_month_number             int64
arrival_datetime                     object
dtype: object

In [384]:
hotel.select_dtypes(include=[object]).columns

Index(['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'agent', 'company', 'customer_type',
       'reservation_status', 'reservation_status_date',
       'reservation_status_date_datetime', 'arrival_datetime'],
      dtype='object')

### Process columns

arrival_date_year
arrival year should be categorical data

In [385]:
hotel['arrival_date_year'] = hotel['arrival_date_year'].astype('category')

arrival_date_month and arrival_date_month_number

In the data cleaning process, I have already turned the arrival_date_month into numerical columns arrival_date_month_number. Here I will drop the arrival_date_month.

In [386]:
hotel.drop(columns=['arrival_date_month'],inplace=True)

Reservation_status

From the definition of reservation_status and reservation_status_date, these two columns seems to be not so useful. The reservation status is almost the same as is_canceled. Drop these two columns here.

In [387]:
hotel.drop(columns=['reservation_status','reservation_status_date','reservation_status_date_datetime'],inplace=True)

Meal

In the dataset description, SC and Undefined both mean no meal package. Replace all Undefined with SC

In [388]:
hotel['meal'].value_counts()

BB           92234
HB           14458
SC           10549
Undefined     1169
FB             798
Name: meal, dtype: int64

In [389]:
hotel.meal[hotel.meal=="Undefined"] = 'SC'

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [390]:
hotel['meal'].value_counts()

BB    92234
HB    14458
SC    11718
FB      798
Name: meal, dtype: int64

Country

Lots of countries has only 1 or 2 vistis. Put countries with less than 10 visits into 'Others'

In [391]:
countries = pd.DataFrame(hotel['country'].value_counts().sort_values())

In [392]:
print(countries.shape)
print((countries.country<10).sum())

(178, 1)
81

In [393]:
mask = hotel['country'].isin(countries[countries.country<10].index)
hotel['country'][mask]='Other'

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [394]:
hotel['country'].nunique()

98

distribution_channel, market_segment

In [395]:
hotel['distribution_channel'].value_counts()

TA/TO        97749
Direct       14610
Corporate     6651
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64

In [396]:
# Impute Undefined as TA/TO
hotel.distribution_channel[hotel.distribution_channel=="Undefined"] = 'TA/TO'

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [397]:
hotel['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'GDS'], dtype=object)

In [398]:
hotel['market_segment'].value_counts()

Online TA        56408
Offline TA/TO    24181
Groups           19790
Direct           12582
Corporate         5282
Complementary      728
Aviation           235
Undefined            2
Name: market_segment, dtype: int64

In [399]:
# Impute Undefined as Online TA
hotel.market_segment[hotel.market_segment=="Undefined"] = 'Online TA'

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [400]:
hotel['market_segment'].value_counts()

Online TA        56410
Offline TA/TO    24181
Groups           19790
Direct           12582
Corporate         5282
Complementary      728
Aviation           235
Name: market_segment, dtype: int64

agent, company

In [401]:
hotel['agent'].value_counts()

9.0         31922
No agent    16280
240.0       13922
1.0          7187
14.0         3633
            ...
278.0           1
346.0           1
213.0           1
304.0           1
450.0           1
Name: agent, Length: 334, dtype: int64

In [402]:
hotel['company'].value_counts()

No company    112440
40.0             924
223.0            784
67.0             267
45.0             249
               ...
140.0              1
102.0              1
273.0              1
442.0              1
10.0               1
Name: company, Length: 349, dtype: int64

Company and agent has too many variables and looks like they would not provide a lot of information to cancellation. Drop these two rows

In [403]:
hotel.drop(columns=['company','agent'],inplace=True)

Question 1: What should we do with datetime columns?

Question 2: There are lots of columns contains discrete numeric columns (adult number), what should we do with that?

In [404]:
hotel.select_dtypes(include=[object]).columns

Index(['hotel', 'meal', 'country', 'market_segment', 'distribution_channel',
       'reserved_room_type', 'assigned_room_type', 'deposit_type',
       'customer_type', 'arrival_datetime'],
      dtype='object')

In [405]:
hotel.drop(columns=['arrival_datetime'],inplace=True)

### Get dummpy variables

In [406]:
import category_encoders as ce
X = hotel.country
# instantiate an encoder - here we use Binary()
ce_binary = ce.BinaryEncoder(cols = ['country'])

# fit and transform and presto, you've got encoded data
country_binary = ce_binary.fit_transform(X)
country_binary.head()

,country_0,country_1,country_2,country_3,country_4,country_5,country_6,country_7
0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0

In [407]:
print(hotel.shape)
hotel = pd.concat([hotel,country_binary],axis=1)
hotel.drop(columns=['country'],inplace=True)
print(hotel.shape)

(119208, 28)
(119208, 35)

In [408]:
X = (hotel.loc[:, hotel.columns != 'is_canceled'])
y = hotel['is_canceled']
print(X.shape)
print(y.shape)

(119208, 34)
(119208,)

In [409]:
X=pd.get_dummies(X)
print(X.shape)

(119208, 72)

In [334]:
#object_column_name = ['hotel','arrival_date_year', 'meal', 'market_segment', 'distribution_channel',
#       'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type']
#object_column_index = [X.columns.get_loc(c) for c in object_column_name]
#print (object_column_index)
#from sklearn.compose import ColumnTransformer
#print(X.shape)

#columnTransformer = ColumnTransformer([('encoder', OneHotEncoder(), object_column_index)], remainder='passthrough')

#X = columnTransformer.fit_transform(X)
#print(X.shape)

[0, 2, 10, 11, 12, 16, 17, 19, 21]

### Split data into training and testing subsets

In [414]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

### Scale standardization

In [416]:
# Use MinMaxScaler to scale data into range (0,1), not using StandardScale here because many columns should not contain negative values
from sklearn import preprocessing
import numpy as np

scaler = preprocessing.MinMaxScaler().fit(X_train)
X_train=scaler.transform(X_train) 

X_test=scaler.transform(X_test)